@font-face {
    font-family: 'Splash';
    src: url('../fonts/Splash/Splash-Regular.ttf');
}
@font-face {
    font-family: 'Gentium Book Plus';
    src: url('../fonts/Gentium_Book_Plus/GentiumBookPlus-Regular.ttf');
}