@font-face {
    font-family: 'Splash';
    src: url('../fonts/Splash/Splash-Regular.ttf');
}
@font-face {
    font-family: 'Glory';
    src: url('../fonts/Glory/Glory-VariableFont_wght.ttf') format('truetype');
}